<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/user/create-user">
        <label for="fname">fname</label>
        <input type="text" id="fname" name="fname" >
        <label for="lname">lname</label>
        <input type="text" id="lname" name="lname" >
        <label for="address">address</label>
        <input type="text" id="address" name="address" >
        <label for="phone">phone</label>
        <input type="text" id="phone" name="phone" >
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <button type="submit">Submit</button>
    </form>
</html>